:root {
    --orange-1: #d8672b;
    --orange-2: #e87c32;
    --orange-3: #ff9b55;
    --orange-grad: linear-gradient(135deg, #d8672b 0%, #e57717 40%, #ff9b55 100%);

    --gray-dark-1: #1f1f1f;
    --gray-dark-2: #2a2a2a;
    --gray-dark-3: #333333;

    --text-dark: #222222;
    --text-light: #f5f5f5;

    --nav-light: rgba(255, 255, 255, 0.85);
    --nav-dark: rgba(40, 40, 40, 0.85);
}

body {
    background: #ffffff;
    color: var(--text-dark);
    font-family: "Cairo", sans-serif;
}



/* NAVBAR */

.navbar {
    background: var(--nav-light) !important;
    backdrop-filter: blur(12px);
    padding: 14px 0;
}

.navbar-brand {
    color: var(--orange-1) !important;
    font-size: 1.75rem;
    font-weight: 800;
}

.nav-link {
    color: var(--text-dark) !important;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: var(--orange-1) !important;
}



.navbar i,
.dropdown-toggle i {
    color: var(--text-dark) !important;
    transition: 0.3s ease;
}

.active-icon {
    color: var(--orange-1) !important;
}

.form-control:focus {
    border-color: var(--orange-main) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 120, 20, 0.28) !important;
}






/* SEARCH BUTTON */

.btn-outline-success {
    background: var(--orange-1) !important;
    border: none !important;
    color: #fff !important;
    padding-inline: 18px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-outline-success:hover {
    background: var(--orange-2) !important;
}



/* FOOTER */

footer {
    background: #f5f5f5 !important;
    color: var(--text-dark);
}

footer a {
    color: var(--text-dark);
    font-weight: 600;
    text-decoration: none;
}

footer a:hover {
    color: var(--orange-1);
}



/*DARK MODE*/


.dark-mode {
    background: var(--gray-dark-1) !important;
    color: var(--text-light) !important;
}


/* نافبار الدارك */
.dark-mode .navbar {
    background: var(--nav-dark) !important;
}

.dark-mode .navbar-brand {
    color: var(--orange-2) !important;
}

.dark-mode .nav-link {
    color: var(--text-light) !important;
}

.dark-mode .nav-link:hover {
    color: var(--orange-3) !important;
}


/* أيقونات المود والدخول في الدارك */
.dark-mode .navbar i,
.dark-mode .dropdown-toggle i {
    color: var(--text-light) !important;
}

.dark-mode .active-icon {
    color: var(--orange-2) !important;
}


/* تحسين الفوتر في الدارك */
.dark-mode footer {
    background: var(--gray-dark-2) !important;
    color: var(--text-light);
}

.dark-mode footer a {
    color: var(--text-light);
}

.dark-mode footer a:hover {
    color: var(--orange-2);
}
